.split {
  display: block;
}

.split-word {
  display: inline-block;
  white-space: pre;
  overflow: hidden;
  vertical-align: top;
  padding: 0.32em 0.4em 0.36em;
  margin: -0.32em -0.4em -0.36em;
}

.split-char {
  display: inline-block;
  will-change: transform;
  transform-origin: 0 100%;
}
